* {
    box-sizing: border-box;
}

body {
    background: #ccffcc;
}

/* Creating a single Day Button to toggle on/off */
.button-day {
    border: 1px solid rgb(138, 136, 136);
    box-shadow: 2px 2px rgb(196, 194, 194);
    border-radius: 50%;
}

.title-text {
    color: black;
    text-shadow: 10px 10px rgb(218, 207, 207);
}

/* styling the button down to set the button position */
.reset-btn {
    width: 100px;
    height: 50px;
}

/* styling for smart phones */
@media only screen and (max-width: 768px) {
    .row {
        padding-left: 0.9rem;
        width: 100%;
    }
    p{
        font-size: medium;
    }
    .button-day {
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    .title-text {
        font-size: 60px;
    }
    /* styling the button down to set the button position */
    .reset-btn {
        width: 100px;
        height: 50px;
        margin-left: 6rem;
    }
}

@media only screen and (min-width: 768px) {
    .row {
        padding-left: 24rem;
        padding-right: 20rem;
        width: 100%;
    }
    p{
        font-size: larger;
        font-weight: 500;
    }
    .button-day {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    .title-text {
        font-size: 100px;
    }
    /* styling the button down to set the button position */
    .reset-btn {
        width: 100px;
        height: 50px;
        margin-left: 33rem;
        margin-bottom: 15px;
    }
}